config.php
clases/configuracion_servidor_servicio.php
.buildpath
.settings
.project
.metadata/*
.google_apis/*
.directory
Thumbs.db
nbproject/
tmp/*
includes/conexion.php
/includes/conexion.php_1.ejemplo
.idea/*